*package-lock*
*docker/data*
*docker/data-postgres*
*node_modules*
api/logs*
api/dist*
core/dist
*dist*
*logs*
*.DS_Store* 
*pg_hba.conf*
pg_hba.conf
*pg_hba.*
.DS_Store
backupsparse_server_db.sql.gz
backupspostgres.sql.gz
**.env*
*.env*
web-booking/build
scheduler/build
*.lock*
*-lock*
**.lock*
**-lock*